
.title{

    padding-top: 3rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 5rem;
}

.container1{
    font-size: 1.6rem;
    border: 1px solid white;
    color: white;
    padding:0rem 5rem;
    max-width: 55rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1 input{
    color: black;
}

/* input{
    color: red;
} */